<!DOCTYPE html>

<html>
<head>
	<title>Use the AngularJS, Luke</title>
	<script type="text/javascript" src="vendor/jquery.js"></script>
	<script type="text/javascript" src="vendor/angular.js"></script>
</head>
<body ng-app="app">
	<h2>Meeting attendees app</h2>
	<div ng-controller="PeopleCtrl">
		<error-msg></error-msg>
		<h3>New attendee</h3>
		Attendee name: <input type="text" ng-model="newAttendee.name" placeholder="name">
		<br>
		Email: <input type="text" ng-model="newAttendee.email" placeholder="email">
		<br>
		Confirmed: <input type="checkbox" ng-model="newAttendee.confirmed">
		<br>
		<button ng-click="addPerson()">Add</button>
		<br>
		<h3>Already registered</h3>
		<ul>
			<li ng-repeat="person in people | filter:search">{{person.name | uppercase}} ({{person.email}}) <img src="tick-icon.png" ng-show="person.confirmed"></li>
		</ul>
		<p>Filter attendees: <input type="text" ng-model="search">
	</div>
	
	<script type="text/javascript" src="app.js"></script>
	
	<script type="text/ng-template" id="errorMsgDirective">
		<div ng-show="message"><span style="color:red">Error is: {{message}}</span><button ng-click="ok()">Ok, got it</button></div>
	</script>
</body>
</html>